@import "../../scss/variable";
@import "../../scss/button";
@import "../../scss/container";
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
.collection {
    height: 100vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    hr{
        width: 100%;
    }
    &__filter{
        display: flex;
        gap: .5rem;
    }
    &__grid{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 390px);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 1rem;
        justify-content: space-between;
        
    }
}
.newitem{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-bottom: 1rem;
        &--c{
            width: 100%;
            text-align: center;
        }
        h2{
            width: 90%;
            text-align: center;
        }
        &--row{
            display: flex;
            gap: .5rem;
        }
    }
    &__flex{
        display: flex;
        justify-content: space-between;
        gap: .5rem;
    }
}
.hotdrop {
    min-height: 100vh;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__filter{
        display: flex;
        gap: .5rem;
    }
    &__grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 1rem;
        justify-content: space-between;
    }
}
.suscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
    &__form{
        display: flex;
        gap: .5rem;
        input{
            padding: 0 1rem;
            outline: none;
            border: 1px solid $primary--color;
            border-radius: $border--radius;
            width: 300px;
        }
    }
}